.container{
    border: 2px solid rgb(122, 120, 120);
    margin-top: 10%;
    padding: 30px;
    width: 40%;
}
button{
    width: 100%;
}
#exampleModalLabel h5{
    font-size: 1.5rem;
    
}
.modal-content{
    width: 900px;
}
.modal-body{
    width: 900px;
    
}
.modal-content{
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 30px;
}